node_modules

# Output
.output
.vercel
.netlify
.wrangler
frontend/build
# .src
# .static
/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Env
.venv
.env
.env.*
../.env
/backend/.env.*
!.env.example
!.env.test

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
